<% unless post.nil? %>
    <div class='post'>  
        <div class= 'user'>
            <%= gravatar_for post.user %>
            <p> <%= post.user.first_name + post.user.last_name %> </p>
        </div>
        <div class='content'>
            <%= post.content %>
        </div>

        <% if post.user == current_user %>
            <%= link_to "Edit", edit_post_path(post) %>
            <%= button_to "Delete", post, :method => :delete %>
        <% end %>
    </div>
<% end %>