<% unless post.nil? %>
    <div class='post card'> 
        <div class="header">
            <div class="avatar-name">
                <%= avatar_for current_user %>
                <div class="name-time">
                     <%= name_for(post.user)%>
                    <%= link_to(post) do%>
                        <p class="post_time"> Published <%= time_ago_in_words(post.created_at) %> ago </p>
                    <% end %>
                </div>
            </div>

            <% if post.user == current_user %>
                <div class="menu">
                    <%= link_to "Edit", edit_post_path(post) %>
                    <%= button_to "Delete", post, :method => :delete %>
                </div>
            <% end %>
        </div>

        <div class='content'>
            <%= post.content %>
        </div>

        <% if signed_in? %>
                <%= form_for current_user.comments.new do |f| %>
                    <%= render 'devise/shared/error_messages', resource: f.object %>
                    <%= f.hidden_field :post_id, value: post.id %>
                    <%= f.text_field :content, placeholder: "Write a comment...", class: 'form-control', required: true, autocomplete: 'off' %>
                    <%= f.submit "Comment", class: "btn btn-primary" %>
                <% end %>
        <% end %>
    </div>
<% end %>