<% if user_signed_in? %>
  <header >
    <div class='wrapper'>
      <div class="container top">
        <%= avatar_for current_user %>
        <h1 class=" ml-2"> <%= yield(:title) %> </h1>
      </div>
      <div class="container">
        <nav>
          <%= link_to 'Home', root_url, :class => 'navbar-link' %>
          <%= link_to 'Find Friends', users_path, :class => 'navbar-link' %>
          <%= link_to 'Friend requests', user_friends_path(current_user, format: :requests_recieved), :class => 'navbar-link' %>
          <%= link_to notifications_path, :class => 'navbar-link notifications' do%>
            Notifications  
            <% unless (notifs = current_user.unseen_notifs.count).zero? %>
              <div> <span><%=notifs%></span> </div>
            <% end %>
          <% end %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </nav>
      </div>
    </div>
  </header>
<% end %>
