<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Replica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <% if flash.any? %>
      <% flash.each do |message_type, message| %>
        <div class="alert #{ message_type }"> <%= message %> </div>
      <% end %>
    <% end %>

    <main>
      <%= yield %>
    </main>

     <%= debug(params) if Rails.env.development? %>
  </body>
</html>
