<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Replica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <% if flash.any? %>
      <% flash.each do |k, message| %>
        <%= message %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
